<% include template/header.ejs %>
<title>About</title>
<!-- Content -->
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="wrapper">
				Fish Everyday was established in 2021.
			</div>
		</div>
	</div>
</div>

<!-- CSS -->
<link rel="stylesheet" href="style/about.css">
<!-- JS -->
<!-- <script src="js/about.js"></script> -->

<% include template/footer.ejs %>