@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
html, body {
    width: 100%;
    min-height: 100%;
    padding-top: 0px;
    margin-top: 0px;
}

/* cellphone(default) */
/* nav */
.header{
    background-color:#4E9ECC;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-bottom: 1px solid rgb(243, 243, 243);
}
.logo{
    width: 96px;
    margin: 0px 24px;
}
.logohome{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logohome:hover{
    text-decoration: none;
}
.logoname{
    color: #fff;
    font-size: 48px;
    font-weight: 300;
}
.nav{
    padding: 4px;
    background-color:#4E9ECC;
    box-shadow:0px 0px 4px gray;
}
.nav-link{
    /* border:1px solid black; */
    margin:2px 4px;
    padding: 8px;
}
a{
    color: #fff;
}
.nav-link:hover{
    color: #fff;
    /* border: 1px solid #243a47; */
    border-radius: 5px;
    background-color: #3A7699;
}
.nav-link:active{
    color: #fff;
    /* border: 1px solid #243a47; */
    border-radius: 5px;
    background-color: #3A7699;
}
.nav-link.active{
    border-radius: 5px;
    background-color: #274F66;
}

.menu_icon{
    width: 30px;
    height: 30px;
    padding: 5px;
    vertical-align:middle;
}
.menu_word{
    vertical-align:middle;
    display:none;
}

/* content */
.col-12,.col-md-6{
    padding: 8px;
    /* margin: 8px; */
    /* 不知道為什麼會歪掉 */
    /* border: 1px solid black; */
}
.row{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.wrapper_t{
    padding: 16px;
    margin: 8px;
    font-size: 32px;
    color: #132733;
}
.wrapper{
    padding: 32px;
    margin: 8px 8px 32px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    box-shadow:0px 0px 4px rgb(136, 186, 219);
}
.wrapper img{
    margin-bottom: 16px;
}
.wrapper_i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.wrapper_i button{
    font-size: 24px;
    width: 150px;
}
.wrapper_c{
    padding: 16px 32px 32px 64px;
    margin: 8px 8px 32px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    box-shadow:0px 0px 2px rgb(136, 186, 219);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    box-shadow:0px 0px 4px rgb(136, 186, 219);
}
.wrapper_c h5{
    font-size: 32px;
    font-weight: 400;
    line-height: 3em;
}
.wrapper_c span{
    font-size: 16px;
    line-height: 3em;
    padding-left: 32px;
}

.button{
    display: inline;
    vertical-align: middle;
    margin-right: 40px;
    width: 100px;
}
#temperature, #feeding{
    padding-left: 8px;
    font-size: 20px;
    vertical-align: middle;
}
.tankname{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
#live_time{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}
.tanklive{
    padding: 8px;
}
#live{
    width: 100%;
}
iframe{
    width: 100%;
    height: 600px;
}

/* tablet */
@media screen and (min-width: 768px) {
    .menu_word{
        vertical-align:block;
        display:inline;
    }
}

/* PC */
@media screen and (min-width: 1200px) {
}
